# Created by https://www.toptal.com/developers/gitignore/api/c++,jupyternotebooks,visualstudiocode
# Edit at https://www.toptal.com/developers/gitignore?templates=c++,jupyternotebooks,visualstudiocode

### C++ ###
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# data 
potential*
gofr*
temperature*
pressure*
acceptance*
kinetic*
magnetization*
specific*
suscept*
total_en*
pofv*
config*
input*
!input.dat
output*
*.tgz
LSN*.ipynb

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.app

### JupyterNotebooks ###
# gitignore template for Jupyter Notebooks
# website: http://jupyter.org/

.ipynb_checkpoints
*/.ipynb_checkpoints/*

# IPython
profile_default/
ipython_config.py

# Remove previous ipynb_checkpoints
#   git rm -r .ipynb_checkpoints/

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

# End of https://www.toptal.com/developers/gitignore/api/c++,jupyternotebooks,visualstudiocode

#custom

build/
build/*
build/**
data/
*.tar.gz
input-output/
*.py
*.pdf
*.png
*.json
IA_equilib
*.DS_Store

version_config.hpp